.header-container {
    background-color: #2e8b57;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-link {
    color: white;
    text-decoration: none;
    font-family: 'Georgia', serif;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

/* Navbar */
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav ul li {
    margin: 10px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Georgia', serif;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    background-color: #043e0a;
    border-radius: 5px;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
}

.profileButton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.profileButton:hover {
    opacity: 0.8;
}

/* Dropdown do perfil */
.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 140px;
    padding: 8px 0;
    align-items: center;
}

.dropdown-menu a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #2e8b57;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #dbe3db;
}

.dropdown-menu button {
    display: block;
    text-decoration: none;
    color: #2e8b57;
    font-weight: bold;
    margin-top: 10px;
}

.dropdown-menu button:hover {
    background-color: #f0fff0;
    border-radius: 5px;
}