.header-container {
    background-color: #2e8b57;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-link {
    color: white;
    text-decoration: none;
    font-family: 'Georgia', serif;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
/* Navbar */
.logo h1 {
    color: #ffffff;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.profile-container button {
    background: none;
    border: none;
}


.nav-content {
    display: flex;
    align-items: center;
}

/* Navbar padrão (desktop) */
.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.nav ul li {
    margin: 10px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    background-color: #010300;
    border-radius: 5px;
    transition: 0.9s;
}

/* Ícone do menu hambúrguer (somente mobile) */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu div {
    width: 25px;
    height: 1.5px;
    background-color: white;
    margin: 5px 0;
}

/* Estilos do menu mobile */
.mobile-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    max-height: 50vh;
    background-color: #314c53;
    flex-direction: column;
    padding: 20px 0;
    border-bottom-right-radius: 8px;
}

.mobile-nav.open {
    display: flex;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.profile-container {
    display: flex;
    align-items: center;
    transition: all 0.2s ease-out;
}

.profile-container.active {
    background-color: #213635;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
    margin-left: 130px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    color: #2e8b57;
    font-weight: bold;
}

.dropdown-menu button {
    display: block;
    text-decoration: none;
    color: #273523;
    background-color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.dropdown-menu button:hover {
    background-color: #f0fff0;
    border-radius: 5px;
}